dn: ou=people,dc=daixinlian,dc=com
ou: people
description: All developers in organisation
objectclass: organizationalunit

dn: cn=miller,ou=people,dc=daixinlian,dc=com
objectclass: inetOrgPerson
cn: miller
displayName: Miller Ming
sn: miller
uid: miller
userpassword: miller
homephone: 555-111-2222
mail: miller@daixinlian.com
description: Miller Ming
ou: people

dn: cn=idevops-ci,ou=people,dc=daixinlian,dc=com
objectclass: inetOrgPerson
cn: idevops-ci
displayName: Continuous integration
sn: idevops-ci
uid: idevops-ci
userpassword: zhu88jie
homephone: 555-111-2222
mail: idevops-ci@daixinlian.com
description: Continuous integration
ou: people